<!doctype html>
{% load static %}
<html lang="zh">
<head>
<meta charset="utf-8">
<title>首页_QunLeLZ的个人博客 - 一个努力爬坑的IT男的个人博客网站</title>
<meta name="keywords" content="个人博客,QunLeLZ个人博客" />
<meta name="description" content="QunLeLZ个人博客，一个努力爬坑的IT男的个人博客网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/m.css' %}" rel="stylesheet">

<!--[if lt IE 9]>
<script src="{% static "js/modernizr.js" %}"></script>
<![endif]-->
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="/">QunLeLZ & 个人博客</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="{% url 'index' %}">网站首页</a></li>
        <li><a href="{% url 'about' %}">关于我</a></li>
        <li><a href="{% url 'articles' %}">学无止境</a></li>
        <li><a href="{% url 'gbook' %}">留言</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="{% url 'index' %}">网站首页</a></li>
        <li><a href="{% url 'about' %}">关于我</a></li>
        <li><a href="{% url 'articles' %}">学无止境</a></li>
        <li><a href="{% url 'gbook' %}">留言</a></li>
      </ul>
    </nav>
  </div>
</header>
<article>
  <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="{% url 'index' %}" class="n1">网站首页</a><a href="{% url 'about' %}" class="n2">关于我</a></h1>
  <div class="ab_box">
    <div class="leftbox">
      <div class="newsview">
        <div class="news_infos">
	  <h2>About me</h2>
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现就读于某非知名二本大学院校，专业为计算机科学与工程学院的网络工程专业，身为21世纪的新青年(虽然已经老了，现在已经是00后的时代了)，加之对于计算机的热爱，毅然决然的选择了这个行业，前途未可知。。。今年也是大四的学生了，马上面临的即是毕业，也是失业。对于未来的想法很多，但也需要一一付诸实现。</p>
	  <br />
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实很早就想写个个人博客玩玩了，一直没时间，加之感觉原来在创新团队的时候给团队写了一个团队网站，用jsp写的，感觉麻烦，也就没去实现。直到学习了python，真的是人生苦短，我用python啊！就花了时间边学django框架，边自己写个人博客，也算有些许收获吧。磕磕绊绊完成了这个个人博客，后续还将继续完善。。。</p>
	  <br />
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的前端学的不是很好，仅仅会个基础，知道怎么用那些html标签，js等等这些更是只了解大概，所以就不自己来献丑设计了，我的前端模版选自<a href="https://www.yangqq.com/download/" target="_blank"> https://www.yangqq.com/download/ </a>，在这里只能感谢她的模版了，需要改进的地方还很多，只能慢慢实现了，源码我的<a href="https://github.com/QunLeLZ" target="_blank">github</a>上面有，需要的可以去看看。。。star和fork就不求了。。。毕竟做得很low。。。对您有帮助就好。。。</p>
          <br />
	  <h2>About my blog</h2>
          &nbsp;
          <p>域 名：http://www.lzclear.cn</p>
          <br />
          <p>服务器：阿里云</p>
          <br />
          <p>备案号：蜀ICP备18033261号-1</p>
          <br />
        </div>
      </div>
    </div>
    <div class="rightbox">
      <div class="aboutme">
        <h2 class="hometitle">关于我</h2>
        <div class="avatar"> <img src="{% static 'images/avatar.jpg' %}"> </div>
        <div class="ab_con">
          <p>网名：喧哗丶扰乱了浮沉 </p>
          <p>职业：学生 </p>
          <p>github：<a href="https://github.com/QunLeLZ"  target="_blank">https://github.com/QunLeLZ </a></p>
          <p>QQ：842257021 </p>
          <p>个人微信：a9276985676</p>
          <p>邮箱：a9276985676@qq.com</p>
        </div>
      </div>
      <div class="weixin">
        <h2 class="hometitle">微信关注</h2>
        <ul>
          <img src="{% static 'images/wx.jpg' %}">
        </ul>
      </div>
    </div>
  </div>
</article>
<footer>
  <p>Design by QunLeLZ  <a href="/">蜀ICP备18033261号-1</a></p>
</footer>
<script src="{% static "js/nav.js" %}"></script>
</body>
</html>
