{% extends "base.html" %}
{% load static %}


{% block main %}
<h1 class="t_nav"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span><a href="{% url 'index' %}" class="n1">网站首页</a><a href="{% url 'articles' %}" class="n2">学无止境</a></h1>
<div class="picshow">
</div>
<div class="blogs">
    {% for post in post_list %}
    <li> <span class="blogpic"><a href="{% url 'detail' post.id %}"><img src="{% static 'images/text01.jpg' %}"></a></span>
      <h3 class="blogtitle"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h3>
      <div class="bloginfo">
        <p>{{ post.abstract | truncatechars:100 }}</p>
      </div>
      <div class="autor"><span class="lm"><a href="{% url 'search_category' post.category_id %}" title="类别" target="_blank" class="classname">{{ post.category }}</a></span><span class="dtime">{{ post.create_time }}</span><span class="viewnum">浏览（<a href="/">{{ post.views }}</a>）</span><span class="readmore"><a href="{% url 'detail' post.id %}">阅读原文</a></span></div>
    </li>
    {% endfor %}
</div>
{% endblock %}
